.edit_info {
  border: 2px solid black;
  width: 400px;
  padding-left: 20px;
  padding-bottom: 20px;
}
.skills {
  padding-left: 30px;
}
p {
  font-weight: bold;
  color: rgb(122, 47, 47);
}

button {
  border-radius: 25px;
  background-color: rgb(250, 71, 0);
  width: 60px;
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 4px 4px 4px 4px black;
}