table thead tr td, table tbody tr td {
  border: 2px solid black;
  width: 150px;
  height: 50px;
  padding-left: 10px;
}

table thead tr td {
  font-weight: bold;
} 

table{
  border-collapse: collapse;
  margin-top: 10px;
}

button {
  border-radius: 25px;
  background-color: rgba(250, 71, 0, 0.644);
  width: 60px;
  border: none;
  color: white;
  padding: 8px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 4px 4px 4px 4px black;
}

a {
  font-size: 20px;
  font-weight: bold;
  color: red;
}